
.header{
    height: 100vh;
    position: relative;
    background-size:contain;
    background-image: url("../public/header.jpg");
}
.tag
{
background: #0cf;
margin-top: -1.6rem;
z-index: 100;
}
.tag.positioned
{
position: relative;
}