.nav {
    height: 80px;
    padding: 10px;
    background: #0047AB;
    color: #fff;
    columns: 2;
 }
 .image{
    display: flex;
    justify-content: flex-start;
    background: #0047AB;
 }
  
.links ul {
    display: flex;
   justify-content: flex-end;
    list-style: none;
  
  }
  
  .links ul li a {
    margin: 5px 30px;
  }
