.header h3{
    cursor: pointer;
    transition: 100s;
    transform: scale();
    color: #ffffff;
 
   
    
}
.header{
    display: flex;
    padding: 5px;
    white-space: nowrap;
    justify-content: space-evenly;
    background: #0047AB;
    overflow-x: scroll;
    
}
.header h3 ul li{

}